In [159]:
import json
import re
import requests
import datetime
from bs4 import BeautifulSoup
import os

In [160]:
htmlfile = open('covid19.html', 'r', encoding='utf-8')
htmlhandle = htmlfile.read()
soup = BeautifulSoup(htmlhandle, 'lxml')
tables = soup.find_all('table')

In [215]:
import pandas as pd
import numpy as np
#Hubei
bs = BeautifulSoup(str(tables[1]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

hb_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
hb_df.to_csv('hb_df')

In [216]:
#Beijing
bs = BeautifulSoup(str(tables[2]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
imported = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    date.append(all_tds[0].text)
    confirmed.append(all_tds[1].text)
    imported.append(all_tds[2].text)
    death.append(all_tds[3].text)
    cured.append(all_tds[4].text)

bj_df = pd.DataFrame(list(zip(date, confirmed, imported, death, cured)), columns=['Date', 'Confirmed cases', 'Imported', 'Death', 'Cured'])
bj_df.to_csv('bj_df')

In [217]:
#Zhejiang
bs = BeautifulSoup(str(tables[3]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

zj_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
zj_df.to_csv('zj_df')

In [218]:
#Shandong
bs = BeautifulSoup(str(tables[4]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

sd_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
sd_df.to_csv('sd_df')

In [208]:
#Guangdong
bs = BeautifulSoup(str(tables[5]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

gd_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
gd_df.to_csv('gd_df')

    Date Confirmed cases Death Cured
0   1/19               1
1   1/21               3
2   1/22              32
3   1/23              53           2
4   1/24              78           2
5   1/25              98           2
6   1/26             146           2
7   1/27             188           4
8   1/28             241           5
9   1/29             311           6
10  1/30             393           9
11  1/31             520           9
12   2/1             604          12
13   2/2             683          14
14   2/3             797          20
15   2/4             870          32
16   2/5             944          49
17   2/6            1018     1    68
18   2/7            1075     1    97
19   2/8            1120     1   125
20   2/9            1151     1   143
21  2/10            1177     1   181
22  2/11            1219     1   241
23  2/12            1241     2   284
24  2/13            1261     2   332
25  2/14            1294     2   386
26  2/15            1316     2   436
27  2/16            1322     2   473
28  2/17            1328     4   530
29  2/18            1331     5   571
30  2/19            1332     5   619
31  2/20            1333     5   664
32  2/21            1339     5   740
33  2/22            1342     6   740
34  2/23            1345     6   772
35  2/24            1347     7   805
36  2/25            1347     7   841
37  2/26            1347     7   873
38  2/27            1348     7   919
39  2/28            1349     7   972
40  2/29            1349     7  1009

In [207]:
#Shanghai
bs = BeautifulSoup(str(tables[6]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
imported = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 6:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    imported.append(all_tds[2].text)
    death.append(all_tds[3].text)
    cured.append(all_tds[4].text)

sh_df = pd.DataFrame(list(zip(date, confirmed, imported, death, cured)), columns=['Date', 'Confirmed cases', 'Imported', 'Death', 'Cured'])
sh_df

     Date Confirmed cases Imported Death Cured
0    1/20               1
1    1/21               4
2    1/22              16
3    1/23              20
4    1/24              33                    1
..    ...             ...      ...   ...   ...
63  12/22             349     1124     3   336
64  12/23             349     1130     3   336
65  12/24             349     1134     3   336
66  12/25             349     1139     3   336
67  12/26             349     1143     3   336

[68 rows x 5 columns]

In [206]:
#Henan
bs = BeautifulSoup(str(tables[7]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

hn_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
hn_df

    Date Confirmed cases Death Cured
0   1/21               1
1   1/22               5
2   1/23               9
3   1/24              32
4   1/25              83     1
5   1/26             128     1
6   1/27             168     1
7   1/28             206     2     1
8   1/29             278     2     2
9   1/30             352     2     3
10  1/31             422     2     3
11   2/1             492     2     4
12   2/2             566     2    14
13   2/3             675     2    20
14   2/4             764     2    41
15   2/5             851     2    54
16   2/6             914     3    68
17   2/7             981     4    97
18   2/8            1033     6   131
19   2/9            1073     6   169
20  2/10            1105     7   198
21  2/11            1135     8   231
22  2/12            1169    10   258
23  2/13            1184    11   313
24  2/14            1212    13   356
25  2/15            1231    13   397
26  2/16            1246    16   438
27  2/17            1257    19   505
28  2/18            1262    19   552
29  2/19            1265    19   614
30  2/20            1267    19   717
31  2/21            1270    19   802
32  2/22            1271    19   861
33  2/23            1271    19   930
34  2/24            1271    19   989
35  2/25            1271    19  1023
36  2/26            1272    20  1062
37  2/27            1272    20  1103
38  2/28            1272    21  1161
39  2/29            1272    22  1185

In [205]:
#Tianjin
bs = BeautifulSoup(str(tables[8]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

tj_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
tj_df

    Date Confirmed cases Death Cured
0   1/21               2
1   1/22               4
2   1/23               5
3   1/24               8
4   1/25              10
5   1/26              14
6   1/27              23
7   1/28              24
8   1/29              27
9   1/30              31
10  1/31              32
11   2/1              41
12   2/2              48           1
13   2/3              60           1
14   2/4              67           2
15   2/5              69     1     2
16   2/6              79     1     2
17   2/7              81     1     2
18   2/8              88     1     4
19   2/9              91     1     4
20  2/10              95     2     8
21  2/11             106     2    10
22  2/12             112     2    11
23  2/13             119     3    21
24  2/14             120     3    32
25  2/15             122     3    37
26  2/16             124     3    45
27  2/17             125     3    46
28  2/18             128     3    48
29  2/19             130     3    54
30  2/20             131     3    59
31  2/21             133     3    62
32  2/22             135     3    65
33  2/23             135     3    81
34  2/24             135     3    87
35  2/25             135     3    91
36  2/26             135     3    96
37  2/27             136     3   102
38  2/28             136     3   105
39  2/29             136     3   109

In [203]:
#Chongqin
bs = BeautifulSoup(str(tables[9]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

cq_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
cq_df

    Date Confirmed cases Death Cured
0   1/21               5
1   1/22               9
2   1/23              27
3   1/24              57
4   1/25              75
5   1/26             110
6   1/27             132
7   1/28             147
8   1/29             165           1
9   1/30             206           1
10  1/31             238     1     1
11   2/1             262     1     3
12   2/2             300     2     7
13   2/3             337     2     9
14   2/4             366     2    14
15   2/5             389     2    15
16   2/6             411     2    24
17   2/7             426     2    31
18   2/8             446     2    39
19   2/9             468     2    51
20  2/10             486     2    66
21  2/11             505     3    79
22  2/12             518     3   102
23  2/13             529     4   128
24  2/14             532     5   139
25  2/15             544     5   184
26  2/16             551     5   207
27  2/17             553     5   225
28  2/18             555     5   254
29  2/19             560     5   274
30  2/20             567     6   299
31  2/21             572     6   316
32  2/22             573     6   328
33  2/23             575     6   335
34  2/24             576     6   349
35  2/25             576     6   372
36  2/26             576     6   384
37  2/27             576     6   401
38  2/28             576     6   422
39  2/29             576     6   438

In [202]:
#Sichuan
bs = BeautifulSoup(str(tables[10]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

sc_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
sc_df

    Date Confirmed cases Death Cured
0   1/21               1
1   1/22               5
2   1/23              15
3   1/24              28
4   1/25              44
5   1/26              69
6   1/27              90
7   1/28             108
8   1/29             142     1     1
9   1/30             177     1     1
10  1/31             207     1     3
11   2/1             231     1     3
12   2/2             254     1    12
13   2/3             282     1    14
14   2/4             301     1    23
15   2/5             321     1    27
16   2/6             344     1    37
17   2/7             363     1    50
18   2/8             386     1    60
19   2/9             405     1    76
20  2/10             417     1    82
21  2/11             436     1    85
22  2/12             451     1    93
23  2/13             463     1   105
24  2/14             470     1   115
25  2/15             481     3   127
26  2/16             495     3   136
27  2/17             508     3   163
28  2/18             514     3   177
29  2/19             520     3   198
30  2/20             525     3   222
31  2/21             526     3   242
32  2/22             526     3   256
33  2/23             527     3   256
34  2/24             529     3   278
35  2/25             531     3   292
36  2/26             534     3   310
37  2/27             538     3   326
38  2/28             538     3   350
39  2/29             538     3   363

In [201]:
#Hunan
bs = BeautifulSoup(str(tables[11]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

hn_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
hn_df

    Date Confirmed cases Death Cured
0   1/21               1
1   1/22               4
2   1/23              24
3   1/24              43
4   1/25              69
5   1/26             100
6   1/27             143
7   1/28             221
8   1/29             277
9   1/30             332           2
10  1/31             389           3
11   2/1             463           8
12   2/2             521          16
13   2/3             593          22
14   2/4             661          35
15   2/5             771          56
16   2/6             772          91
17   2/7             803         119
18   2/8             838     1   159
19   2/9             879     1   186
20  2/10             912     1   213
21  2/11             946     2   263
22  2/12             968     2   312
23  2/13             988     2   352
24  2/14            1001     2   389
25  2/15            1004     3   430
26  2/16            1006     3   467
27  2/17            1007     4   501
28  2/18            1008     4   542
29  2/19            1010     4   578
30  2/20            1011     4   638
31  2/21            1013     4   670
32  2/22            1016     4   704
33  2/23            1016     4   721
34  2/24            1016     4   751
35  2/25            1016     4   779
36  2/26            1017     4   793
37  2/27            1017     4   820
38  2/28            1018     4   841
39  2/29            1018     4   853

In [200]:
#Yunnan
bs = BeautifulSoup(str(tables[12]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

yn_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
yn_df

ValueError: time data '1月27日 12时' does not match format '%m月%d日%H时'

In [199]:
#Guangxi
bs = BeautifulSoup(str(tables[13]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

gx_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
gx_df

    Date Confirmed cases Death Cured
0   1/22               2
1   1/23              13
2   1/24              23
3   1/25              33
4   1/26              46
5   1/27              51
6   1/28              58           2
7   1/29              78           2
8   1/30              87           2
9   1/31             100           2
10   2/1             111           2
11   2/2             127           2
12   2/3             139           7
13   2/4             150          10
14   2/5             168          14
15   2/7             183          17
16   2/8             195     1    18
17   2/9             210     1    18
18  2/10             215     1    30
19  2/11             222     1    31
20  2/12             222     2    33
21  2/13             226     2    35
22  2/14             235     2    40
23  2/15             237     2    46
24  2/16             238     2    51
25  2/17             242     2    58
26  2/18             244     2    76
27  2/19             245     2    87
28  2/20             246     2    95
29  2/21             249     2    99
30  2/22             249     2   104
31  2/23             251     2   107
32  2/24             252     2   129
33  2/25             252     2   138
34  2/26             252     2   159
35  2/27             252     2   166
36  2/28             252     2   172
37  2/29             252     2

In [198]:
#Jiangxi
bs = BeautifulSoup(str(tables[14]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

jx_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
jx_df

    Date Confirmed cases Death Cured
0   1/21               2
1   1/22               3
2   1/23               7
3   1/24              18
4   1/25              36
5   1/26              48
6   1/27              72           2
7   1/28             109           3
8   1/29             162           3
9   1/30             240           7
10  1/31             286           9
11   2/1             333          10
12   2/2             391          18
13   2/3             476          19
14   2/4             548          27
15   2/5             600          37
16   2/6             661          45
17   2/7             698          55
18   2/8             740          72
19   2/9             771     1   102
20  2/10             804     1   127
21  2/11             844     1   152
22  2/12             872     1   170
23  2/13             900     1   187
24  2/14             913     1   210
25  2/15             925     1   239
26  2/16             930     1   275
27  2/17             933     1   310
28  2/18             934     1   362
29  2/19             934     1   432
30  2/20             934     1   489
31  2/21             934     1   544
32  2/22             934     1   611
33  2/23             934     1   645
34  2/24             934     1   682
35  2/25             934     1   719
36  2/26             934     1   754
37  2/27             935     1   790
38  2/28             935     1   811
39  2/29             935     1   831

In [197]:
#Anhui
bs = BeautifulSoup(str(tables[15]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

ah_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
ah_df

ValueError: time data '2月243日' does not match format '%m月%d日%H时'

In [196]:
#Liaoning
bs = BeautifulSoup(str(tables[16]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
imported = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 6:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    imported.append(all_tds[2].text)
    death.append(all_tds[4].text)
    cured.append(all_tds[5].text)

ln_df = pd.DataFrame(list(zip(date, confirmed, imported, death, cured)), columns=['Date', 'Confirmed cases', 'Imported', 'Death', 'Cured'])
ln_df

     Date Confirmed cases Imported Death Cured
0    1/22               2
1    1/23               4
2    1/24              12
3    1/25              17
4    1/26              22
5    1/27              27
6    1/28              36
7    1/29              39
8    1/30              45                    1
9    1/31              60                    1
10    2/1              64                    1
11    2/2              70                    1
12    2/3              74                    1
13    2/4              81                    2
14    2/5              89                    4
15    2/6              94                    5
16    2/7              99                    7
17    2/8             105                    8
18    2/9             107                   12
19   2/10             108                   12
20   2/11             116                   19
21   2/12             116              1    20
22   2/13             117              1    22
23   2/14             119              1    29
24   2/15             120              1    32
25   2/16             121              1    41
26   2/17             121              1    43
27   2/18             121              1    55
28   2/19             121              1    58
29   2/20             121              1    61
30   2/21             121              1    66
31   2/22             121              1    68
32   2/23             121              1    73
33   2/24             121              1    83
34   2/25             121              1    88
35   2/26             121              1    92
36   2/27             121              1    93
37   2/28             121              1    95
38   2/29             122              1   102
39  12/15             289       65     2   287
40  12/16             289       65     2   287
41  12/17             289       65     2   287
42  12/18             290       65     2   287
43  12/19             291       65     2   287
44  12/20             292       65     2   287
45  12/21             294       65     2   287
46  12/22             295       65     2   287
47  12/23             302       66     2   287
48  12/24             310       66     2   287
49  12/25             316       67     2   287
50  12/26             323       67     2   287

In [195]:
#Hainan
bs = BeautifulSoup(str(tables[17]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 6:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

hnn_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
hnn_df

    Date Confirmed cases Death Cured
0   1/22               4
1   1/23               8
2   1/25              19
3   1/26              22
4   1/27              31     1
5   1/28              43     1
6   1/29              46     1     1
7   1/30              49     1     1
8   1/31              57     1     1
9    2/1              63     1     1
10   2/2              70     1     4
11   2/3              79     1     4
12   2/4              89     1     4
13   2/5             100     1     5
14   2/6             111     2     8
15   2/7             123     2    11
16   2/8             128     2    15
17   2/9             136     3    19
18  2/10             142     3    19
19  2/11             145     3    20
20  2/12             157     4    27
21  2/13             157     4    30
22  2/14             162     4    38
23  2/15             162     4    39
24  2/16             162     4    52
25  2/17             163     4    59
26  2/18             163     4    79
27  2/19             168     4    84
28  2/20             168     4    89
29  2/21             168     4    96
30  2/22             168     4   104
31  2/23             168     5   106
32  2/24             168     5   116
33  2/25             168     5   124
34  2/25             168     5   129
35  2/26             168     5   132
36  2/27             168     5   136
37  2/28             168     5   148

In [192]:
#Hujian
bs = BeautifulSoup(str(tables[18]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

hj_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
hj_df

    Date Confirmed cases Death Cured
0   1/22               1
1   1/23               1
2   1/24               9
3   1/25              18
4   1/26              35
5   1/27              59
6   1/28              82
7   1/29             101
8   1/30             120
9   1/31             144
10   2/1             159
11   2/2             179
12   2/3             194           1
13   2/4             205           7
14   2/5             215          11
15   2/6             224          15
16   2/7             239          20
17   2/8             250          24
18   2/9             261          35
19  2/10             267          39
20  2/11             272          46
21  2/12             279          54
22  2/13             281          59
23  2/14             285          66
24  2/15             287          77
25  2/16             209          87
26  2/17             292          91
27  2/18             293     1    96
28  2/19             293     1   112
29  2/20             293     1   134
30  2/21             293     1   150
31  2/22             293     1   165
32  2/23             293     1   174
33  2/24             294     1   188
34  2/25             294     1   205
35  2/26             296     1   225
36  2/27             296     1   232
37  2/28             296     1   241
38  2/29             296     1   243

In [191]:
#Guizhou
bs = BeautifulSoup(str(tables[19]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

gz_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
gz_df

    Date Confirmed cases Death Cured
0   1/22               1
1   1/23               3
2   1/24               4
3   1/25               5
4   1/26               7
5   1/27               9
6   1/28               9           1
7   1/29              12           1
8   1/30              15           1
9   1/31              29           2
10   2/1              38           2
11   2/2              46           2
12   2/3              56           2
13   2/4              64           5
14   2/5              69     1     6
15   2/6              77     1     6
16   2/7              89     1     6
17   2/8              96     1     7
18   2/9             109     1     7
19  2/10             118     1    10
20  2/11             131     1    17
21  2/12             135     1    20
22  2/13             140     1    28
23  2/14             143     1    33
24  2/15             144     1    37
25  2/16             146     1    47
26  2/17             146     1    66
27  2/18             146     2    69
28  2/19             146     2    71
29  2/20             146     2    76
30  2/21             146     2    90
31  2/22             146     2    91
32  2/23             146     2   102
33  2/24             146     2   103
34  2/25             146     2   104
35  2/26             146     2   112
36  2/27             146     2   112
37  2/28             146     2   112
38  2/29             146     2   112
39   3/1             146     2   112

In [190]:
#Shanxi
bs = BeautifulSoup(str(tables[20]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

sx_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
sx_df

    Date Confirmed cases Death Cured
0   1/22               1
1   1/23               1
2   1/24               6
3   1/25               9
4   1/26              13
5   1/27              20
6   1/28              27
7   1/29              35           1
8   1/30              39           1
9   1/31              47           1
10   2/1              56           1
11   2/2              66           1
12   2/3              74           2
13   2/4              81           4
14   2/5              90           6
15   2/6              96          12
16   2/7             104          15
17   2/8             115          21
18   2/9             119          25
19  2/10             122          26
20  2/11             124          30
21  2/12             126          33
22  2/13             126          36
23  2/14             127          38
24  2/15             128          46
25  2/16             129          50
26  2/17             130          53
27  2/18             131          61
28  2/19             131          68
29  2/20             132          76
30  2/21             132          78
31  2/22             132          81
32  2/23             132          88
33  2/24             133          94
34  2/25             133          98
35  2/26             133         104
36  2/27             133         107
37  2/28             133         112
38  2/29             133         114

In [189]:
#Ningxia
bs = BeautifulSoup(str(tables[21]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

nx_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
nx_df

    Date Confirmed cases Death Cured
0   1/22               1
1   1/23               1
2   1/24               3
3   1/25               4
4   1/26               7
5   1/27              11
6   1/28              12
7   1/29              17
8   1/30              21
9   1/31              26
10   2/1              28
11   2/2              31
12   2/3              34           1
13   2/4              34           1
14   2/5              40           1
15   2/6              43           1
16   2/7              45           3
17   2/8              45          13
18   2/9              49          13
19  2/10              53          14
20  2/11              58          22
21  2/12              64          24
22  2/13              67          24
23  2/14              70          27
24  2/15              70          33
25  2/16              70          33
26  2/17              70          35
27  2/18              71          42
28  2/19              71          42
29  2/20              71          44
30  2/21              71          48
31  2/22              71          48
32  2/23              71          57
33  2/24              71          58
34  2/25              71          61
35  2/26              72          65
36  2/27              72          68
37  2/28              73          68

In [188]:
#Heibei
bs = BeautifulSoup(str(tables[22]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

hb_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
hb_df

    Date Confirmed cases Death Cured
0   1/22               1
1   1/24               8     1
2   1/26              18     1
3   1/27              33     1
4   1/28              48     1
5   1/30              82     1
6    2/1             104     1     3
7    2/2             113     1     3
8    2/3             126     1     3
9    2/4             135     1     4
10   2/5             157     1     7
11   2/6             171     1    16
12   2/7             195     1    16
13   2/8             206     2    30
14   2/9             218     2    35
15  2/10             239     2    41
16  2/11             251     2    48
17  2/12             265     3    54
18  2/13             283     3    69
19  2/14             291     3    86
20  2/15             300     3   100
21  2/16             301     3   109
22  2/17             302     4   123
23  2/18             306     4   136
24  2/19             307     5   152
25  2/20             308     5   170
26  2/21             309     6   184
27  2/22             311     6   204
28  2/23             311     6   221
29  2/24             311     6   241
30  2/25             312     6   248
31  2/26             317     6   261
32  2/27             318     6   274
33  2/28             318     6   277
34  2/29             318     6   283

In [187]:
#Jiangsu
bs = BeautifulSoup(str(tables[23]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

js_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
js_df

    Date Confirmed cases Death Cured
0   1/22               1
1   1/23               9
2   1/24              18           1
3   1/25              31           1
4   1/26              47           1
5   1/27              70           1
6   1/30             168           2
7   1/31             202           5
8    2/1             236           6
9    2/2             271           7
10   2/3             308           8
11   2/4             341          13
12   2/5             373          26
13   2/6             408          38
14   2/7             439          43
15   2/8             468          51
16   2/9             492          72
17  2/10             515          84
18  2/11             543          94
19  2/12             570         131
20  2/13             593         137
21  2/14             604         160
22  2/15             617         190
23  2/16             626         226
24  2/17             629         263
25  2/18             631         296
26  2/19             631         325
27  2/20             631         352
28  2/21             631         387
29  2/22             631         411
30  2/23             631         427
31  2/24             631         458
32  2/25             631         463
33  2/26             631         494
34  2/27             631         506
35  2/28             631         519
36  2/29             631         529

In [186]:
#Heilongjiang
bs = BeautifulSoup(str(tables[24]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

hlj_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
hlj_df

    Date Confirmed cases Death Cured
0   1/23               4
1   1/24               9
2   1/25              15
3   1/26              21
4   1/27              30     1
5   1/28              37     1
6   1/29              43     1
7   1/30              59     2
8   1/31              80     2
9    2/1              95     2     2
10   2/2             118     2     2
11   2/3             155     2     2
12   2/4             190     2     4
13   2/5             227     3     7
14   2/6             277     3     8
15   2/7             295     5    12
16   2/8             307     6    13
17   2/9             331     7    15
18  2/10             360     8    27
19  2/11             378     8    28
20  2/12             395     9    31
21  2/13             418    11    37
22  2/14             425    11    48
23  2/15             445    11    70
24  2/16             457    11    80
25  2/17             464    11    85
26  2/18             470    12   108
27  2/19             476    12   132
28  2/20             479    12   141
29  2/21             479    12   183
30  2/22             480    12   215
31  2/23             480    12   224
32  2/24             480    12   232
33  2/25             480    12   254
34  2/26             480    13   262
35  2/27             480    13   280
36  2/28             480    13   295
37  2/29             480    13   330
38   3/1             480    13   350
39   3/2             480    13   358
40   3/3             480    13   372
41   3/4             481    13   379
42   3/5             481    13   380
43   3/6             481    13   402
44   3/7             481    13   409

In [185]:
#Shanxi
bs = BeautifulSoup(str(tables[25]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

sx2_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
sx2_df

    Date Confirmed cases Death Cured
0   1/23               3
1   1/24               5
2   1/25              15
3   1/26              22
4   1/27              35
5   1/28              56
6   1/29              63
7   1/30              63
8   1/31              87
9    2/1             101
10   2/2             116
11   2/3             128
12   2/4             141           1
13   2/5             165           2
14   2/6             173           6
15   2/7             184          11
16   2/8             195          17
17   2/9             208          20
18  2/10             213          26
19  2/11             219          31
20  2/12             225          36
21  2/13             229          42
22  2/14             230          49
23  2/15             232          53
24  2/16             236          64
25  2/17             240          74
26  2/18             240          79
27  2/19             242          89
28  2/20             245     1   105
29  2/21             245     1   117
30  2/22             245     1   140
31  2/23             245     1   153
32  2/24             245     1   162
33  2/25             245     1   175
34  2/26             245     1   186
35  2/27             245     1   194
36  2/28             245     1   197
37  2/29             245     1   200
38   3/1             245     1   207
39   3/2             245     1   209
40   3/3             245     1   216
41   3/4             245     1   218
42   3/5             245     1   222
43   3/6             245     1   224
44   3/7             245     1   226
45   3/8             245     1   226

In [184]:
#Xingjiang
bs = BeautifulSoup(str(tables[26]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

xj_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
xj_df

    Date Confirmed cases Death Cured
0   1/23               2
1   1/24               3
2   1/25               4
3   1/26               5
4   1/27              10
5   1/28              13
6   1/29              14
7   1/30              17
8   1/31              18
9    2/1              21
10   2/2              24
11   2/3              29
12   2/4              32
13   2/5              36
14   2/6              39
15   2/7              42
16   2/8              45
17   2/9              49
18  2/10              55
19  2/11              59           3
20  2/12              63     1     3
21  2/13              65     1     6
22  2/14              70     1     6
23  2/15              71     1    11
24  2/16              75     1    12
25  2/17              76     1    12
26  2/18              76     1    14
27  2/19              76     1    20
28  2/20              76     1    22
29  2/21              76     2    24
30  2/22              76     2    25
31  2/23              76     2    28
32  2/24              76     2    30
33  2/25              76     2    30
34  2/26              76     2    34
35  2/27              76     3    43
36  2/28              76     3    52
37  2/29              76     3    62
38   3/1              76     3    64
39   3/2              76     3    67
40   3/3              76     3    68
41   3/4              76     3    69
42   3/5              76     3    70
43   3/6              76     3    71
44   3/7              76     3    72

In [183]:
#Gansu
bs = BeautifulSoup(str(tables[27]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

gs_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
gs_df

    Date Confirmed cases Death Cured
0   1/23               2
1   1/24               4
2   1/25               7
3   1/26              14
4   1/27              19
5   1/28              24
6   1/29              26
7   1/30              29
8   1/31              35
9    2/1              40
10   2/2              51           3
11   2/3              55           3
12   2/4              57           4
13   2/5              62           6
14   2/6              67           9
15   2/7              71     1     9
16   2/8              79     1    12
17   2/9              83     2    16
18  2/10              86     2    21
19  2/11              86     2    24
20  2/12              87     2    31
21  2/13              90     2    39
22  2/14              90     2    44
23  2/15              90     2    49
24  2/16              90     2    54
25  2/17              91     2    58
26  2/18              91     2    62
27  2/19              91     2    65
28  2/20              91     2    71
29  2/21              91     2    76
30  2/22              91     2    76
31  2/23              91     2    78
32  2/24              91     2    80
33  2/25              91     2    80
34  2/26              91     2    81
35  2/27              91     2    82
36  2/28              91     2    82
37  2/29              91     2    82
38   3/1              91     2    84
39   3/2              91     2    85
40   3/3              91     2    87
41   3/4              91     2    87
42   3/5              91     2    87
43   3/6              91     2    87
44   3/7              91     2    87

In [182]:
#Neimenggu
bs = BeautifulSoup(str(tables[28]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

nmg_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
nmg_df

ValueError: time data '2月19日84' does not match format '%m月%d日%H时'

In [181]:
#Qinghai
bs = BeautifulSoup(str(tables[29]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

qh_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
qh_df

    Date Confirmed cases Death Cured
0   1/24               1
1   1/25               1
2   1/26               4
3   1/27               6
4   1/28               6
5   1/29               6
6   1/30               8
7   1/31               9
8    2/1               9
9    2/2              13
10   2/3              15
11   2/4              17
12   2/5              18           3
13   2/6              18           3
14   2/7              18           3
15   2/8              18           3
16   2/9              18           3
17  2/10              18           3
18  2/11              18           5
19  2/12              18           9
20  2/13              18          11
21  2/14              18          11
22  2/15              18          13
23  2/16              18          13
24  2/17              18          13
25  2/18              18          15
26  2/19              18          16
27  2/20              18          16
28  2/21              18          18
29  2/22              18          18
30  2/23              18          18
31  2/24              18          18
32  2/25              18          18
33  2/26              18          18
34  2/27              18          18
35  2/28              18          18
36  2/29              18          18
37   3/1              18          18
38   3/2              18          18
39   3/3              18          18
40   3/4              18          18
41   3/5              18          18
42   3/6              18          18
43   3/7              18          18

In [180]:
#Jilin
bs = BeautifulSoup(str(tables[30]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

jl_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
jl_df

    Date Confirmed cases Death Cured
0   1/23               1
1   1/24               4
2   1/26               6
3   1/27               8
4   1/28               9
5   1/29              14
6   1/30              14           1
7   1/31              17           1
8    2/1              23           1
9    2/2              31           1
10   2/4              54           1
11   2/5              59           2
12   2/6              65     1     4
13   2/7              69     1     4
14   2/8              78     1     5
15   2/9              80     1    12
16  2/10              81     1    13
17  2/11              83     1    18
18  2/12              84     1    22
19  2/13              86     1    25
20  2/14              88     1    25
21  2/15              89     1    28
22  2/16              89     1    30
23  2/17              89     1    34
24  2/18              90     1    36
25  2/19              91     1    40
26  2/20              91     1    44
27  2/21              91     1    46
28  2/22              91     1    52
29  2/23              93     1    54
30  2/24              93     1    60
31  2/25              93     1    63
32  2/26              93     1    65
33  2/27              93     1    68
34  2/28              93     1    73
35  2/29              93     1    75
36   3/1              93     1    78
37   3/2              93     1    83
38   3/3              93     1    84
39   3/4              93     1    86
40   3/5              93     1    88
41   3/6              93     1    90
42   3/7              93     1    90

In [179]:
#Xizang
bs = BeautifulSoup(str(tables[31]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

xz_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
xz_df

   Date Confirmed cases Death Cured
0  1/30               1
1  2/12               1           1

In [178]:
#Taiwan
bs = BeautifulSoup(str(tables[32]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

tw_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
tw_df

ValueError: time data '1月24日19点30分' does not match format '%m月%d日%H时'

In [177]:
#Xianggang
bs = BeautifulSoup(str(tables[33]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

xg_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
xg_df

    Date Confirmed cases Death Cured
0   1/23               2
1   1/28              10
2   1/31              12
3    2/2              15
4    2/3              15
5    2/4              18     1
6    2/5              21     1
7    2/6              24     1
8    2/7              26     1
9    2/8              26     1
10   2/9              36     1
11  2/10              42     1
12  2/11              49     1
13  2/12              50     1
14  2/13              53     1
15  2/14              56     1
16  3/14             141     4    81
17  3/15             148     4    84

In [176]:
#Aomen
bs = BeautifulSoup(str(tables[34]),'lxml')
all_trs = bs.find_all('tr')

date = []
confirmed = []
death = []
cured = []

for tr in all_trs[1:]:
    all_tds = tr.find_all('td')
    if len(all_tds[0].text) > 5:
        t = time.strptime(all_tds[0].text,'%m月%d日%H时')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    else:
        t = time.strptime(all_tds[0].text,'%m月%d日')
        date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
    confirmed.append(all_tds[1].text)
    death.append(all_tds[2].text)
    cured.append(all_tds[3].text)

am_df = pd.DataFrame(list(zip(date, confirmed, death, cured)), columns=['Date', 'Confirmed cases', 'Death', 'Cured'])
am_df

    Date Confirmed cases Death Cured
0   1/22               1
1   1/23               2
2   1/26               5
3   1/27               6
4   1/28               7
5    2/2               8
6    2/4              10
7    2/6              10           1
8   2/10              10           1
9   2/15              10           3
10  3/14              10          10
11  3/15              10          10

In [167]:
import time
a = "2018年10月10日17点18分20秒"
start = time.strptime(a,'%Y年%m月%d日%H点')#注意这里用的是年月日隔开
print(start)

ValueError: unconverted data remains: 18分20秒

In [168]:
len(a)

20

In [175]:
len(date[0])

8

In [174]:
date[0]

'1月22日11时'

In [ ]:
if len(all_tds[0].text) > 5:
    t = time.strptime(all_tds[0].text,'%m月%d日%H时')
    date.append(str(t.tm_mon)+'/'+str(t.tm_mday))
else:
    t = time.strptime(all_tds[0].text,'%m月%d日')
    date.append(str(t.tm_mon)+'/'+str(t.tm_mday))